In [3]:
import requests as req
from bs4 import BeautifulSoup as bs

In [4]:
head = {"user-agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/135.0.0.0 Safari/537.36"}
res = req.get("https://www.melon.com/chart/index.htm", headers=head)

In [5]:
soup = bs(res.text,"lxml")

In [6]:
# 클래스명을 여러개 가지고 있을 경우에는 공백 지우고 .으로 이어준다
singer = soup.select("div.ellipsis.rank02 > a")

In [7]:
len(singer)

106

In [8]:
# 부정확한 데이터가 수집되면 반드시 HTML 코드 정보 다시 확인
# select_one >> 데이터 복수시 첫번째 데이터만 가져온다
# singer = soup.select_one("div.ellipsis.rank02 > span.checkEllipsis")

In [9]:
singer = soup.select("div.ellipsis.rank02 > span")
song = soup.select("div.ellipsis.rank01 > span > a")

In [10]:
song[0].text

'TOO BAD (feat. Anderson .Paak)'

In [12]:
singer_list = []
song_list = []
for i in range(len(singer)):
    singer_list.append(singer[i].text)
    song_list.append(song[i].text)

In [ ]:
singer_list

In [43]:
song_list

['G-DRAGON',
 '조째즈',
 'WOODZ',
 '제니 (JENNIE)',
 'G-DRAGON',
 '황가람',
 'IVE (아이브)',
 'aespa',
 'BOYNEXTDOOR',
 '로제 (ROSÉ)',
 'Bruno Mars',
 'LE SSERAFIM (르세라핌)',
 '오반(OVAN)',
 'DAY6 (데이식스)',
 'IVE (아이브)',
 '로제 (ROSÉ)',
 '로이킴',
 '이클립스 (ECLIPSE)',
 'KiiiKiii (키키)',
 'G-DRAGON',
 '황가람',
 'G-DRAGON',
 '이창섭',
 'DAY6 (데이식스)',
 'DAY6 (데이식스)',
 '임영웅',
 'aespa',
 'Lady Gaga',
 'Bruno Mars',
 'AKMU (악뮤)',
 'DAY6 (데이식스)',
 '이무진',
 'BABYMONSTER',
 'PLAVE',
 '순순희(지환)',
 '아이유',
 '이예은',
 '아샤트리',
 '전건호',
 '임영웅',
 '너드커넥션 (Nerd Connection)',
 'aespa',
 '임영웅',
 '이무진',
 'QWER',
 '성시경',
 'G-DRAGON',
 '멜로망스',
 'Hearts2Hearts (하츠투하츠)',
 'QWER',
 '임영웅',
 '임재현',
 'TWS (투어스)',
 'PLAVE',
 '임영웅',
 '폴킴',
 'PLAVE',
 '잔나비',
 '임영웅',
 '이무진',
 '아일릿(ILLIT)',
 'NewJeans',
 '임영웅',
 '경서예지',
 '전건호',
 'PLAVE',
 '(여자)아이들',
 '박재정',
 '방탄소년단',
 'BOYNEXTDOOR',
 'PLAVE',
 '제니 (JENNIE)',
 '프로미스나인',
 'IVE (아이브)',
 '우디 (Woody)',
 '범진',
 '재쓰비 (JAESSBEE)',
 '정국',
 '이영지',
 'Crush',
 '10CM',
 'NewJeans',
 '임영웅',
 '김민석',
 '임영웅',
 '임영웅',
 '임영웅',
 '임영웅',
 '우디 (Woody)',
 'NewJeans',
 '송필근',
 'j-hope',
 'Miguel',
 'aespa',
 '순순희',
 'KISS OF LIFE',
 'DAY6 (데이식스)',
 'IVE (아이브)',
 'G-DRAGON',
 '임영웅',
 'NewJeans',
 '로제 (ROSÉ)',
 '지수 (JISOO)',
 'KISS OF LIFE',
 '태연 (TAEYEON)',
 '임영웅']

In [25]:
import pandas as pd

In [44]:
data1 = pd.DataFrame(singer_list, columns=["가수 이름"])
data2 = pd.DataFrame(song_list, columns=["노래 제목"])

In [45]:
data1

            가수 이름
0        G-DRAGON
1             조째즈
2           WOODZ
3     제니 (JENNIE)
4        G-DRAGON
..            ...
101     로제 (ROSÉ)
102    지수 (JISOO)
103  KISS OF LIFE
104  태연 (TAEYEON)
105           임영웅

[106 rows x 1 columns]

In [46]:
data2

            노래 제목
0        G-DRAGON
1             조째즈
2           WOODZ
3     제니 (JENNIE)
4        G-DRAGON
..            ...
101     로제 (ROSÉ)
102    지수 (JISOO)
103  KISS OF LIFE
104  태연 (TAEYEON)
105           임영웅

[106 rows x 1 columns]

In [47]:
dic = {"가수 이름" : singer_list, "노래 제목" : song_list}
melon = pd.DataFrame(dic)
melon.to_csv("멜론차트.csv")